{% extends 'file/base.html' %}
{% block title %}Folder Details{% endblock %}

{% block body %}

    <div class="container-fluid">
        <div class="panel panel-info">

            <div class="panel-heading">{{ folder.name }}

            </div>

            <table class="table">
                <tr>
                    <th>Name</th>
                    <th>Date</th>
                    <th>Amount</th>
                    <th>Option</th>
                </tr>

                {% for receipt in folder.receipt_set.all %}

                <tr>
                    <td>{{ receipt.store }}</td>
                    <td>{{ receipt.date }}</td>
                    <td>$ {{ receipt.amount }}</td>
                    <td>Drop down here</td>
                </tr>

                {% endfor %}

                <tr>
                    <td><b>TOTAL</b></td>
                    <td></td>
                    <td><b>$ {{ folder.get_total }}</b></td>
                    <td></td>
                </tr>

            </table>
        </div>

    </div>

{% endblock %}
